.main_wrap {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #D8E0E6;
}

.container {
  display: -webkit-flex;
  display: flex;
  max-width: 1200px;
}

/* Feeds list */
#feeds_panel {
  width: 20rem;
  padding-left: 1rem;
}

.panel-heading {
  height: 7vh;
  align-items: center;
}

.panel-title {
  margin: 0;
  padding-top: 1rem;
}

.panel-body {
  height: 86vh;
  overflow: scroll;
  overflow-x: hidden;
}

/* Navigation */
nav {
  height: 7vh;
  display: -webkit-flex;
  display: flex;
  color: #eeeeee;  
  max-width: 1200px;
  width: 100%;
}

nav header {
  margin: 0.5rem 1rem;
}

.nav_wrap {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #7777bb;
}

/* Article styles */
article {
  background-color: #E9EDF2;
  margin-bottom: 0.5rem;
  padding: 0 1rem 0.5rem 1rem;
  border: 1px solid #E9EDF2;
}

article h2 {
  font-size: 1.2em;
  padding-top: 0.5em;
  margin: 0;
}

#entries_panel {
  -webkit-flex: 1;
          flex: 1;
  height: 93vh;
  overflow-y: scroll;
}

#entries_view {
  padding: 1rem;
}

.active_article {
  border: 1px solid #A09BC3;
}
