/* fix to make the empty placeholder invisible until the updated version is released and the placeholder can be removed */
.angular-ui-tree-empty {
  border: 0;
  min-height: 0;
  background:transparent;
}

.main_wrap {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
}

.container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: #C5CFDC;
}

*::-webkit-scrollbar-track {
  background-color: #dddddd;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

/* Feeds menu */
#feeds_menu {
  padding: 0;
  margin: 0;
  list-style: none; 
  width: 20%;
  text-align: right;
}  

#feeds_menu li {
  display: inline-block;
  position: relative;
  width: 100%;
}

#feeds_menu li a {
  display: block;
  text-decoration: none;
}

#feeds_menu li ul {
  display: none;
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 10px;
  margin: 10px 0;
  padding: 10px;
  background-color: #CCCCCC;
}

#feeds_menu li:hover ul {
  display: block;
}

/* Feeds list */
#feeds_panel {
  width: 20rem;
  height: 93vh;
}

#feeds_panel header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-bottom: 0.5rem;
}

#feeds_panel h2 {
  padding-left: 1rem;
  text-decoration: none;
  color: #305371;
  margin: 0.25rem 0 0.25rem 0;
}

#feeds_header_container {
  width: 19rem;
}

#add_subscription {
  margin: 0 0 0.5rem 1rem;
  width: 18rem;
}  

#add_subscription.ng-invalid-url {
  border: 2px solid red;
}

.angular-ui-tree ol {
  overflow: hidden;
  height: 100%;
}

.angular-ui-tree ol:hover {
  overflow-y: scroll;
}

.angular-ui-tree-handle a {
  padding: 1px 1em 1px 1rem;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #314F6F;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 18rem;
  white-space: nowrap;
}

.angular-ui-tree-handle a:hover {
  background-color: #AABBC9;
}

.angular-ui-tree-placeholder {
  border-bottom: 1px dotted black;
  padding:0;
  margin-left: 1rem;
  height: 5px!important;
  min-height: 0;
  line-height: 5px;
  width:100%;
}

/* Navigation */
nav {
  height: 7vh;
  display: -webkit-flex;
  display: flex;
  color: #eeeeee;  
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

nav header h1 {
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}

nav header a {
  text-decoration: none;
  color: #ffffff;
}

nav header a:hover {
  text-decoration: none;
  color: #CCC9E0;
}

.nav_wrap {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: #93A5BC;
}

/* Article styles */
article {
  background-color: #E9EDF2;
  margin-bottom: 0.5rem;
  padding: 0 1rem 0.5rem 1rem;
  border: 1px solid #E9EDF2;
  transition: opacity 0.15s;
}

article h2 {
  padding: 0;
  margin: 0.2em 0 0.2em 0;
}

article header a {
  font-size: 0.8em;
  color: #284A66;
  text-decoration: none;
}

article header a:hover {
  color: #0B1B27;
  text-decoration: underline;
}

article.read {
  opacity: 0.5;
}

#entries_panel {
  -webkit-flex: 1;
          flex: 1;
  height: 93vh;
  overflow: hidden;
  background-color: #C0CAD8;
}

#entries_panel:hover {
  overflow-y: scroll;
}

#entries_view {
  padding: 1rem;
}

.active_article {
  border: 1px solid #A09BC3;
}
