// Declare app level module which depends on views, and components
angular.module('appConfig', [])
  .constant("settings", {
    "apiAddr": "%ADDR%",
    "apiPort": "%PORT%",
    "apiBaseURL": "http://%ADDR%:%PORT%/"
});
